[submodule "_GraphPlugin"]
	path = GraphPlugin
	url = git@github.com:workcraft/workcraft-plugin-example-graph.git
[submodule "_PetriPlugin"]
	path = PetriPlugin
	url = git@github.com:workcraft/workcraft-plugin-example-petri.git
