[submodule "_GraphPlugin"]
	path = _GraphPlugin
	url = https://github.com/workcraft/workcraft-plugin-example-graph
[submodule "_PetriPlugin"]
	path = _PetriPlugin
	url = https://github.com/workcraft/workcraft-plugin-example-petri
